@model UniversityCashoutViewModelList
@using AdminDashboard.Constants;

@{
    ViewData["Title"] = "Cash out";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-between">
                            <h5>Add Amount</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="control-label">Account ID</label>
                                                <input id="txt-account-id" type="text" class="form-control" placeholder="xxxxx" />
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="control-label">Amount</label>
                                                <input id="txt-amount" type="text" class="form-control" placeholder="00.xx" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">-</label>
                                                <div>
                                                    <button id="btn-add-new" type="button" class="btn btn-info" onclick="addNewRow()">Add</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    @using (Html.BeginForm("Index", "UniversityCashout", FormMethod.Post, new { id = "data-table-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="tblTrans">
                                    <thead>
                                        <tr>
                                            <th>Account ID</th>
                                            <th>Amount</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var row in Model.DataList)
                                        {
                                            <tr id="tr-@row.AccountId" data-accountid='@row.AccountId' data-amount='@row.Amount'>
                                                <td>@row.AccountId</td>
                                                <td>@row.Amount</td>
                                                <td>
                                                    <a onclick="removeCurrentRow('tr-@row.AccountId')" class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button id="btn-upload" type="button" data-toggle="modal" data-target="#upload-modal" class="btn btn-dark">Upload Excel Sheet</button>
                                    <input id="btn-save" type="submit" value="Save" class="btn btn-success" />
                                    <a id="btn-clear" asp-action="Index" class="btn btn-danger">Clear</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

    </div>
</div>

<partial name="_UploadExcelSheet.cshtml" />

@section Scripts{

    <script src="~/jquery/jquery.js"></script>
    <script>
        $(document).ready(function () {
            let accountId = $('#txt-account-id').val();
            let amount = $('#txt-amount').val();
            if (!accountId || !amount) {
                $('#btn-add-new').prop('disabled', true)
            }
            $('#txt-account-id').keyup(function () {
                if ($(this).val() != '' && $('#txt-amount').val() != '') {
                    $('#btn-add-new').prop('disabled', false)
                }
                else {
                    $('#btn-add-new').prop('disabled', true)
                }
            });
            $('#txt-amount').keyup(function () {
                if ($(this).val() != '' && $('#txt-account-id').val() != '') {
                    $('#btn-add-new').prop('disabled', false)
                }
                else {
                    $('#btn-add-new').prop('disabled', true)
                }
            });

            $("#btn-save").on("click", function () {
                var qtd = 0;
                $("#tblTrans > tbody > tr").each(function () {
                    var accountId = $(this).data("accountid");
                    var amount = $(this).data("amount");
                    $("#data-table-form").prepend("<input type='hidden' name = 'DataList[" + qtd + "].AccountId' value = '" + accountId + "' > ");
                    $("#data-table-form").prepend("<input type='hidden' name = 'DataList[" + qtd + "].Amount' value = '" + amount + "' > ");
                    qtd += 1;
                });
            })

            if ('@ViewBag.Succeeded' == '@ResponceStatus.Success') {
                swal({
                    title: "Success",
                    text: @Html.Raw(Json.Serialize(ViewBag.ResultData)),
                    icon: "success",
                    button: "Ok"
                });
            }
            else if ('@ViewBag.Succeeded' == '@ResponceStatus.Error') {
                swal({
                    title: "Error",
                    text: @Html.Raw(Json.Serialize(ViewBag.ResultData)),
                    icon: "error",
                    button: "Ok"
                });
            }
        });

        var upload = () => {
            var formData = new FormData();
            formData.append('file', $('#file-input')[0].files[0]);

            $.ajax({
                type: "POST",
                url: "@Url.Action("Upload")",
                async: true,
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                timeout: 60000,
                success: function (msg) {
                    if (msg.result) {
                        $.each(msg.data, function (i, data) {
                            $('#tblTrans > tbody').append(`<tr id="tr-${data.accountId}" data-accountid='${data.accountId}' data-amount='${data.amount}'><td>${data.accountId}</td><td>${data.amount}</td><td>
                                                    <a onclick="removeCurrentRow('tr-${data.accountId}')" class="btn btn-danger">Delete</a>
                                                </td></tr>`);
                        });
                        $("#upload-modal").hide();
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                    }
                    else {
                        $('#upload-model-error').html(msg.message);
                    }


                },
                error: function (req, status, error) {
                }
         });
        }

        var removeCurrentRow = (rowId) => {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this record!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $(`#${rowId}`).remove();
                }
            });

        }

        var addNewRow = () => {
            let accountId = $('#txt-account-id').val();
            let amount = $('#txt-amount').val();
            /**/
            $('#tblTrans tbody').append(`<tr id="tr-${accountId}" data-accountid='${accountId}' data-amount='${amount}'><td>${accountId}</td><td>${amount}</td><td><a onclick="removeCurrentRow('tr-${accountId}')" class="btn btn-danger">Delete</a></td></tr>`);
        /**/
        $('#txt-account-id').val('');
        $('#txt-amount').val('');
        $('#btn-add-new').prop('disabled', true)
    }

    </script>
}

