@model PagedResult<AccountViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Accounts</h2>
                    <a asp-action="Create" class="pull-right btn btn-outline-primary">Create</a>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Mobile</th>
                                <th>NationalID</th>
                                <th>Activity</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var account in Model.Results)
                            {
                            <tr>
                                <td>@account.AccountName</td>
                                <td>@account.Mobile</td>
                                <td>@account.NationalID</td>
                                <td>@account.ActivityName</td>
                                <td>
                                    <a asp-action="ViewChannels" asp-route-id="@account.Id" class="btn btn-info">Channels</a>
                                    <a asp-action="ViewChannelsTypes" asp-route-id="@account.Id" class="btn btn-info">ChannelTypes</a>
                                    <a asp-action="Index" asp-controller="Users" asp-route-accountId="@account.Id" class="btn btn-info">Users</a>
                                    <a asp-action="Edit" asp-route-id="@account.Id" class="btn btn-primary">Edit</a>
                                    <a asp-action="ChangeStatus" asp-route-id="@account.Id" class="btn @(account.Status ? "btn-success": "btn-danger")">
                                        @(account.Status ? "Active" : "Deactive")
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <pager link-url="/SuperAdmin/Accounts/Index"
                           page="Model.CurrentPage"
                           page-size="Model.PageSize"
                           total-items="Model.PageCount">
                    </pager>
                </div>
            </div>
        </div>
    </div>
</div>