@model PagedResult<ParameterViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>All Parameters</h2>
                    <a asp-action="Create" class="pull-right btn btn-outline-primary">Add</a>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>NameAr</th>
                                <th>Provider Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var deno in Model.Results)
                            {
                                <tr>
                                    <td>@deno.Id</td>
                                    <td>@deno.Name</td>
                                    <td>@deno.NameAr</td>
                                    <td>@deno.ProviderName</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@deno.Id" class="btn btn-info">
                                            Edit
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@deno.Id" class="btn btn-danger">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <pager link-url="/SuperAdmin/Parameter/Index"
                           page="Model.CurrentPage"
                           page-size="Model.PageSize"
                           total-items="Model.PageCount">
                    </pager>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        @*$(function () {
            var msg = '@TempData["result"]';
            if (msg != "") {
                swal({
                    title: "Good job!",
                    text: "You Saved the User Successfully!",
                    icon: "success",
                    button: "Ok",
                });
            }
         });*@

    </script>
}

