@model PagedResult<ParameterViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2> Parameters</h2>
                    <a asp-action="Create" class="pull-right btn btn-outline-primary">Add</a>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>NameAr</th>
                                <th>Provider Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var deno in Model.Results)
                            {
                                <tr>
                                    <td>@deno.Id</td>
                                    <td>@deno.Name</td>
                                    <td>@deno.NameAr</td>
                                    <td>@deno.ProviderName</td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                More
                                            </button>
                                            <div class="dropdown-menu">
                                                <h5 class="dropdown-header">Modules</h5>
                                                <div class="dropdown-divider"></div>
                                                <h5 class="dropdown-header">Actions</h5>
                                                <a asp-action="Edit" asp-route-id="@deno.Id" class="dropdown-item">
                                                    Edit
                                                </a>
                                                <button onclick="ConfirmDelete(@deno.Id,this)" class="dropdown-item" style="color:red">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <pager link-url="/SuperAdmin/Parameter/Index"
                           page="Model.CurrentPage"
                           page-size="Model.PageSize"
                           total-items="Model.PageCount">
                    </pager>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

       $(function () {
            if (@ViewBag.processSucceded.ToString().ToLower()) {
                swal({
                    title: "success!",
                    text: "You Saved the Record Successfully!",
                    icon: "success",
                    button: "Ok",
                });
            }
       });

        function ConfirmDelete(id,row)
        {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this record!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {

                    DeleteParamter(id, row);
                }
            });
        }

        function DeleteParamter(id, row) {

              $.ajax({
                type: "GET",
                url: "@Url.Action("Delete")",
                  data: {
                      id: id,
                  },
                 dataType: "text",
                success: function (msg) {
                    swal("Your record has been deleted!", {
                        icon: "success",
                    });

                    $(row).parents("tr").remove();
/*                    var data = JSON.parse(msg);*/

                },
                 error: function (req, status, error) {

                     swal("Ops! There is some error happened!", {
                         icon: "error",
                     });
                }
            });
        }
    </script>
}

