@model PagedResult<AccountTypeViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h2> AccountType</h2>
                        </div>
                        <div>
                            <a asp-action="Create" class="pull-right btn btn-outline-primary">Add</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Name Ar</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var AT in Model.Results)
                            {
                                <tr>
                                    <td>@AT.Id</td>
                                    <td>@AT.Name</td>
                                    <td>@AT.NameAr</td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                More
                                            </button>
                                            <div class="dropdown-menu">
                                                <h5 class="dropdown-header">Actions</h5>
                                                <a asp-action="Edit" asp-route-id="@AT.Id" class="dropdown-item">Edit</a>
                                                <a asp-action="ChangeStatus" asp-route-id="@AT.Id" class="dropdown-item">@(AT.Status ? "Deactive" : "Active")</a>
                                                <button onclick="ConfirmDeleteAccountType(@AT.Id,this)" class="dropdown-item" style="color:red">Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <pager link-url="/SuperAdmin/AccountType/Index"
                           page="Model.CurrentPage"
                           page-size="Model.PageSize"
                           total-items="Model.PageCount">
                    </pager>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        $(function () {

            if (@ViewBag.processSucceded.ToString().ToLower()) {
                swal({
                    title: "Good job!",
                    text: "You Saved Successfully!",
                    icon: "success",
                    button: "Ok",
                });
            }
         });

        function ConfirmDeleteAccountType(id,row)
        {

            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this record!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    DeleteAccountType(id, row);
                }
            });
        }

        function DeleteAccountType(id, row) {

              $.ajax({
                type: "GET",
                url: "@Url.Action("Delete")",
                  data: {
                      id: id,
                  },
                 dataType: "text",
                success: function (msg) {

                    swal("Your record has been deleted!", {
                        icon: "success",
                    });

                    $(row).parents("tr").remove();
                },
                 error: function (req, status, error) {
                     swal("There is some error happened!", {
                         icon: "error",
                     });
                }
            });
        }

    </script>
}

