@model PagedResult<CommissionViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2> Commissions</h2>
                    <a asp-action="Create" class="pull-right btn btn-outline-primary">Add</a>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Value</th>
                                <th>Payment Mode</th>
                                <th>Type Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var com in Model.Results)
                            {
                                <tr>
                                    <td>@com.ID</td>
                                    <td>@com.AmountFrom</td>
                                    <td>@com.AmountTo</td>
                                    <td>@com.Value</td>
                                    <td>@com.PaymentModeName</td>
                                    <td>@com.CommissionTypeName</td>
                                    <td>@com.StartDate.Value.ToShortDateString()</td>
                                    <td>@com.EndDate.Value.ToShortDateString()</td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                More
                                            </button>
                                            <div class="dropdown-menu">
                                                <h5 class="dropdown-header">Modules</h5>
                                                <div class="dropdown-divider"></div>
                                                <h5 class="dropdown-header">Actions</h5>
                                                <a asp-action="ChangeStatus" asp-route-id="@com.ID" class="btn @(com.Status ? "btn-danger" : "btn-success")">
                                                    @(com.Status ? "Deactive" : "Active")
                                                </a>
                                                <a asp-action="Edit" asp-route-id="@com.ID" class="btn btn-info">Edit</a>
                                                <button onclick="ConfirmDelete(@com.ID,this)" class="dropdown-item" style="color:red">Delete</button>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <pager link-url="/SuperAdmin/Commission/Index"
                           page="Model.CurrentPage"
                           page-size="Model.PageSize"
                           total-items="Model.PageCount">
                    </pager>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        $(function () {
            var msg = '@TempData["result"]';
            if (msg != "") {
                swal({
                    title: "Good job!",
                    text: "You Saved the User Successfully!",
                    icon: "success",
                    button: "Ok",
                });
            }
         });

         function ConfirmDelete(id,row)
        {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this record!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {

                    DeleteCommission(id, row);
                }
            });
        }

        function DeleteCommission(id, row) {

              $.ajax({
                type: "GET",
                url: "@Url.Action("Delete")",
                  data: {
                      id: id,
                  },
                 dataType: "text",
                success: function (msg) {

                    console.log("successs Deleted Data");

                    swal("Poof! Your record has been deleted!", {
                        icon: "success",
                    });

                    $(row).parents("tr").remove();
/*                    var data = JSON.parse(msg);*/

                },
                 error: function (req, status, error) {
                     console.log(error);
                     swal("Ops! There is some error happened!", {
                         icon: "error",
                     });
                }
            });
        }

    </script>
}

