@model DenominationServiceProvidersViewModel

<div class="card-body">
    <div class="form-group">
        <input asp-for="Id" id="denominationServieProviderId" type="hidden" class="form-control" />
        <input asp-for="DenominationID" type="hidden" class="form-control" />
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label class="control-label">Balance <span class="validation-error">*</span></label>
            <input asp-for="Balance" onkeypress="return isNumberKey(event)" class="form-control enableBtnSaveDenominationServiceProvider" />
            <span asp-validation-for="Balance" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label class="control-label">Provider Code</label>
            <input asp-for="ProviderCode" onkeypress="return isNumberKey(event)" type="text" class="form-control enableBtnSaveDenominationServiceProvider" />
            <span asp-validation-for="ProviderCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label class="control-label">Provider Amount</label>
            <input asp-for="ProviderAmount" onkeypress="return isNumberKey(event)" class="form-control enableBtnSaveDenominationServiceProvider" />
            <span asp-validation-for="ProviderAmount" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label class="control-label">Old ServiceId</label>
            <input asp-for="OldServiceID" onkeypress="return isNumberKey(event)" class="form-control" />
            <span asp-validation-for="OldServiceID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Service Provider <span class="validation-error">*</span></label>
        <select asp-for="ServiceProviderID" asp-items="@ViewBag.ServicesProvider" class="form-control" data-style="select-with-transition" title="Choose an Servicer Provider" data-size="7">
            <option disabled selected> Choose Provdier</option>
        </select>
        <span asp-validation-for="ServiceProviderID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Has Fees?</label>
        <input asp-for="ProviderHasFees" type="checkbox" />
    </div>
    <hr />
    <div class="card">
        <div class="card-header">
           
            <div class="d-flex justify-content-between">
                <div>
                    <h5>Denomination Provider Configurations</h5>
                </div>
                <div>
                    <button type="button" class="btn btn-info" onclick="addConfig()">Add provider configuration</button>
                </div>
            </div>
        </div>
        <div class="card-body" id="divCont">
            <div class="form-group">
                <div id="div-configs">
                    @if (Model.DenominationProviderConfigurations != null)
                    {
                        for (int i = 0; i < Model.DenominationProviderConfigurations.Count; i++)
                        {
                            <div id="@string.Format("configs-{0}", i)" class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Name</label>
                                        @Html.TextBoxFor(m => m.DenominationProviderConfigurations[i].Name, new { @class = "form-control enableAddProviderParam", @id = "providerConfigParamName" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Value</label>
                                        @Html.TextBoxFor(m => m.DenominationProviderConfigurations[i].Value, new { @class = "form-control enableAddProviderParam", @id = "providerConfigParamValue" })
                                    </div>
                                    <div class="col-md-2">
                                        <button style="margin-top:30px" class="btn btn-secondary" onclick="deleteConfig(@string.Format("'configs-{0}'", i))">
                                            <i class="fa fa-close">Remove</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="configsTemplate" class="form-group" style="display: none">
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Name</label>
            @Html.TextBox("DenominationProviderConfigurations[].Name", "", new { @class = "form-control enableAddProviderParam", @id = "providerConfigParamName" })
        </div>
        <div class="col-md-4">
            <label class="control-label">Value</label>
            @Html.TextBox("DenominationProviderConfigurations[].Value", "", new { @class = "form-control enableAddProviderParam", @id = "providerConfigParamValue" })
        </div>
        <div class="col-md-2">
            <button style="margin-top:30px" class="btn btn-secondary">
                <i class="fa fa-close">Remove</i>
            </button>
        </div>
    </div>
</div>