@model PagedResult<DenominationViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h2>Denominations</h2>
                            <h6>
                                <strong>
                                    Service Name:
                                </strong>
                                @ViewBag.FullTitle
                            </h6>
                        </div>
                        <div>
                            <a asp-action="Create" asp-route-serviceId="@ViewBag.serviceId" asp-route-serviceTypeId="@ViewBag.serviceTypeId" class="pull-right btn btn-outline-primary">Add</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Value</th>
                                <th>Inquirable</th>
                                <th>ClassType</th>
                                <th>PaymentMode</th>
                                <th>Bill PaymentMode</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var deno in Model.Results)
                            {
                                <tr>
                                    <td>@deno.Id</td>
                                    <td>@deno.Name</td>
                                    <td>@deno.Value</td>
                                    <td>@deno.Inquirable</td>
                                    <td>@deno.ClassType</td>
                                    <td>@deno.PaymentModeName</td>
                                    <td>@deno.BillPaymentModeName</td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                More
                                            </button>
                                            <div class="dropdown-menu">
                                                <h5 class="dropdown-header">Modules</h5>
                                                <a asp-action="Index" asp-controller="DenominationFees" asp-route-denominationId="@deno.Id" asp-route-denominationName="@deno.Name" class="dropdown-item">Fees</a>
                                                <a asp-action="Index" asp-controller="DenominationCommission" asp-route-denominationId="@deno.Id" asp-route-denominationName="@deno.Name" class="dropdown-item">Commissions</a>
                                                <a asp-action="Index" asp-controller="DenominationTaxes" asp-route-denominationId="@deno.Id" asp-route-denominationName="@deno.Name" class="dropdown-item">Taxes</a>
                                                <div class="dropdown-divider"></div>
                                                <h5 class="dropdown-header">Actions</h5>
                                                <a asp-action="Edit" asp-route-id="@deno.Id" class="dropdown-item">Edit</a>
                                                <a asp-action="ChangeStatus" asp-route-id="@deno.Id" asp-route-serviceId="@ViewBag.serviceId" asp-route-serviceTypeId="@ViewBag.serviceTypeId"
                                                   asp-route-title="@ViewBag.FullTitle" class="dropdown-item">
                                                    @(deno.Status ? "Deactive" : "Active")
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <pager link-url="/SuperAdmin/Denominations/Index"
                           page="Model.CurrentPage"
                           page-size="Model.PageSize"
                           total-items="Model.PageCount">
                    </pager>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        @*$(function () {
            var msg = '@TempData["result"]';
            if (msg != "") {
                swal({
                    title: "Good job!",
                    text: "You Saved the User Successfully!",
                    icon: "success",
                    button: "Ok",
                });
            }
         });*@

    </script>
}

