@model PagedResult<AccountTypeProfileDenominationViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h2> Account Type Profile Denominations</h2>
                        </div>
                        <div>
                            <a asp-action="Create" class="pull-right btn btn-outline-primary">Add</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Denomination</th>
                                <th>Account Type</th>
                                <th>Profile</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ATPD in Model.Results)
                            {
                                <tr>
                                    <td>@ATPD.Id</td>
                                    <td>@ATPD.DenominationName</td>
                                    <td>@ATPD.AccountTypeName</td>
                                    <td>@ATPD.ProfileName</td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                More
                                            </button>
                                            <div class="dropdown-menu">
                                                <h5 class="dropdown-header">Modules</h5>
                                                <a asp-action="Index" asp-controller="AccountTypeProfileFee" asp-route-id="@ATPD.Id" asp-route-denomination="@ATPD.DenominationName" asp-route-title="@ATPD.AccountTypeName - @ATPD.ProfileName" class="dropdown-item">Fees</a>
                                                <a asp-action="Index" asp-controller="AccountTypeProfileCommission" asp-route-id="@ATPD.Id" asp-route-denomination="@ATPD.DenominationName" asp-route-title="@ATPD.AccountTypeName - @ATPD.ProfileName" class="dropdown-item">Commission</a>
                                                <div class="dropdown-divider"></div>
                                                <h5 class="dropdown-header">Actions</h5>
                                                <a asp-action="ChangeStatus" asp-route-id="@ATPD.Id" class="dropdown-item">
                                                    @(ATPD.Status ? "Deactive" : "Active")
                                                </a>
                                                <button onclick="ConfirmDeleteAccountTypeProfileDenomintion(@ATPD.Id,this)" class="dropdown-item" style="color:red">Delete</button>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <pager link-url="/SuperAdmin/AccountTypeProfileDenomination/Index"
                           page="Model.CurrentPage"
                           page-size="Model.PageSize"
                           total-items="Model.PageCount">
                    </pager>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
         $(function () {
            if (@ViewBag.processSucceded.ToString().ToLower()) {
                swal({
                    title: "success!",
                    text: "You Saved the Record Successfully!",
                    icon: "success",
                    button: "Ok",
                });
            }
         });


        function ConfirmDeleteAccountTypeProfileDenomintion(id,row)
        {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this record!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {

                    DeleteAccountTypeProfileDenomintion(id, row);
                }
            });
        }

        function DeleteAccountTypeProfileDenomintion(id, row) {

              $.ajax({
                type: "GET",
                url: "@Url.Action("Delete")",
                  data: {
                      id: id,
                  },
                 dataType: "text",
                success: function (msg) {
                    swal("Poof! Your record has been deleted!", {
                        icon: "success",
                    });

                    $(row).parents("tr").remove();
/*                    var data = JSON.parse(msg);*/

                },
                 error: function (req, status, error) {
                     swal("There is some error happened!", {
                         icon: "error",
                     });
                }
            });
        }

    </script>
}

