@model PagedResult<AccountCommissionViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h2>Account Commissions</h2>
                            <h6>
                                <strong>
                                    Account Name:
                                </strong>
                                @ViewBag.AccountName
                            </h6>
                            <h6>
                                <strong>
                                    Account ID:
                                </strong>
                                @ViewBag.AccountId
                            </h6>
                        </div>
                        <div>
                            <a asp-action="Create" asp-route-accountId="@ViewBag.AccountId" class="pull-right btn btn-outline-primary">Add</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Denomiination ID</th>
                                <th>Denomination</th>
                                <th>Value</th>
                                <th>Type Name</th>
                                <th>Payment Mode</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var com in Model.Results)
                            {
                                <tr>
                                    <td>@com.DenomiinationId</td>
                                    <td>@com.DenominationFullName</td>
                                    <td>@com.CommissionValue</td>
                                    <td>@com.CommissionTypeName</td>
                                    <td>@com.PaymentMode</td>
                                    <td>
                                        <button onclick="ConfirmDeleteAccountCommission(@com.Id,this)" class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <pager link-url="/SuperAdmin/AccountCommission/Index"
                           page="Model.CurrentPage"
                           page-size="Model.PageSize"
                           total-items="Model.PageCount">
                    </pager>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        $(function () {
            if (@ViewBag.processSucceded.ToString().ToLower()) {
                swal({
                    title: "Good job!",
                    text: "You Saved the Record Successfully!",
                    icon: "success",
                    button: "Ok",
                });
            }
        });

        function ConfirmDeleteAccountCommission(id,row)
        {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this record!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {

                    DeleteAccountCommission(id, row);
                }
            });
        }

        function DeleteAccountCommission(id, row) {

              $.ajax({
                type: "GET",
                url: "@Url.Action("DeleteAccountCommission")",
                  data: {
                      id: id,
                  },
                 dataType: "text",
                success: function (msg) {
                    swal("Your record has been deleted!", {
                        icon: "success",
                    });

                    $(row).parents("tr").remove();
/*                    var data = JSON.parse(msg);*/

                },
                 error: function (req, status, error) {

                     swal("There is some error happened!", {
                         icon: "error",
                     });
                }
            });
        }

    </script>
}

