@model PagedResult<AccountCommissionViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>All Commissions</h2>
                    <a asp-action="Create" asp-route-accountId="@ViewBag.AccountId" class="pull-right btn btn-outline-primary">Add</a>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Denomiination ID</th>
                                <th>Denomination</th>
                                <th>Value</th>
                                <th>Type Name</th>
                                <th>Payment Mode</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var com in Model.Results)
                            {
                            <tr>
                                <td>@com.DenomiinationId</td>
                                <td>@com.DenominationFullName</td>
                                <td>@com.CommissionValue</td>
                                <td>@com.CommissionTypeName</td>
                                <td>@com.PaymentMode</td>
                                <td>
                                    <a asp-action="DeleteAccountCommission" asp-route-id="@com.Id" asp-route-accountId="@ViewBag.AccountId" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <pager link-url="/SuperAdmin/AccountCommission/Index"
                           page="Model.CurrentPage"
                           page-size="Model.PageSize"
                           total-items="Model.PageCount">
                    </pager>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        $(function () {
            var msg = '@TempData["result"]';
            if (msg != "") {
                swal({
                    title: "Good job!",
                    text: "You Saved the User Successfully!",
                    icon: "success",
                    button: "Ok",
                });
            }
         });

    </script>
}

