@model IEnumerable<DenominationTaxesViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h2>Denomination Taxes</h2>
                            <h6>
                                <strong>
                                    Denomination:
                                </strong>
                                @ViewBag.DenominationName
                            </h6>
                        </div>
                        <div>
                            <a asp-action="Create" asp-route-id="@ViewBag.denominationId" asp-route-denominationName="@ViewBag.DenominationName" class="pull-right btn btn-outline-primary">Add</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Denomination</th>
                                <th>Value</th>
                                <th>Type Name</th>
                                <th>Payment Mode</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tax in Model)
                            {
                                <tr>
                                    <td>@tax.DenominationFullName</td>
                                    <td>@tax.TaxValue</td>
                                    <td>@tax.TaxTypeName</td>
                                    <td>@tax.PaymentMode</td>
                                    <td>
                                        <button onclick="ConfirmDelete(@tax.Id,this)" class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        $(function () {
            @*var msg = '@TempData["result"]';*@
            if (msg != "") {
                swal({
                    title: "Good job!",
                    text: "You Saved the User Successfully!",
                    icon: "success",
                    button: "Ok",
                });
            }
        });

        function ConfirmDelete(id,row)
        {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this record!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {

                    DeleteDenominationTax(id, row);
                }
            });
        }

        function DeleteDenominationTax(id, row) {

              $.ajax({
                type: "GET",
                url: "@Url.Action("Delete")",
                  data: {
                      id: id,
                  },
                 dataType: "text",
                success: function (msg) {

/*                    console.log("successs Deleted Data");*/

                    swal("Poof! Your record has been deleted!", {
                        icon: "success",
                    });

                    $(row).parents("tr").remove();
/*                    var data = JSON.parse(msg);*/

                },
                 error: function (req, status, error) {
/*                     console.log(error);*/
                     swal("Ops! There is some error happened!", {
                         icon: "error",
                     });
                }
            });
        }

    </script>
}

