@model IEnumerable<DenominationTaxesViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h2>Denomination Taxes</h2>
                            <h6>
                                <strong>
                                    Denomination:
                                </strong>
                                @ViewBag.DenominationName
                            </h6>
                        </div>
                        <div>
                            <button onclick="ViewDataModel(@ViewBag.denominationId)" class="pull-right btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped" id="tbl-DenominationTax">
                        <thead>
                            <tr>
                                <th>Range</th>
                                <th>Value</th>
                                <th>Type Name</th>
                                <th>Payment Mode</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tax in Model)
                            {
                                <tr>
                                    <td>@tax.Range</td>
                                    <td>@tax.TaxValue</td>
                                    <td>@tax.TaxTypeName</td>
                                    <td>@tax.PaymentMode</td>
                                    <td>
                                        <button onclick="ConfirmDelete(@tax.Id,this)" class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="DenominationTaxesFormModal" class="modal fade" role="dialog" dir="ltr">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3> Add Denomiantion Taxes</h3>
                        </div>
                        <div class="modal-body">
                            <partial name="_Create" />
                        </div>
                        <div class="modal-footer">
                            <input type="button" onclick="AddDenominationTaxes()" id="btnAddDenominationTaxes" value="Add" class="btn btn-success float-right" disabled />
                            <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        $(function () {
           if (@ViewBag.processSucceded.ToString().ToLower()) {
                swal({
                    title: "Good job!",
                    text: "You Saved the Tax Successfully!",
                    icon: "success",
                    button: "Ok",
                });
            }
        });

        function ConfirmDelete(id,row)
        {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this record!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {

                    DeleteDenominationTax(id, row);
                }
            });
        }

        function DeleteDenominationTax(id, row) {

              $.ajax({
                type: "GET",
                url: "@Url.Action("Delete")",
                  data: {
                      id: id,
                  },
                 dataType: "text",
                success: function (msg) {


                    swal("Poof! Your record has been deleted!", {
                        icon: "success",
                    });

                    $(row).parents("tr").remove();
/*                    var data = JSON.parse(msg);*/

                },
                 error: function (req, status, error) {
                     swal({
                         title: "Failure job!",
                         text: error,
                         icon: "error",
                         button: "Ok",
                     });
                }
            });
        }

        function ViewDataModel(denominationId) {

            $('#denominationId').val(denominationId);
/*            $('#denominationName').val(denominationName);*/
              $('#DenominationTaxesFormModal').modal('show');
        }

        function AddDenominationTaxes() {
            
            var denominationId = $('#denominationId').val();
            var taxesId = $('#taxesId').val();


            $.ajax({
                type: "POST",
                url: "@Url.Action("Create")",
                  data: {
                      TaxesId: taxesId,
                      DenominationId: denominationId,
                  },
                 dataType: "text",
                 success: function (msg) {
                     
                     var data = JSON.parse(msg);

                     if (data.code != null)
                     {
                         swal({
                             title: "Failure job!",
                             text: "Failed, " + data.message + "",
                             icon: "error",
                             button: "Ok",
                         });
                     }
                     else {

                        var html = `<tr>
                                    <td>${data.range}</td>
                                    <td>${data.taxValue}</td>
                                    <td>${data.taxTypeName}</td>
                                    <td>${data.paymentMode}</td>
                                    <td>
                                        <button onclick="ConfirmDelete(${data.id},this)" class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>`;

                         $('#tbl-DenominationTax').append(html);

                         $('#DenominationTaxesFormModal').modal('hide');

                         $('#taxesId').val(0);

                     swal({
                         title: "Good job!",
                         text: "You Added the Record Successfully!",
                         icon: "success",
                         button: "Ok",
                     });
                     }
                },
                 error: function (req, status, error) {

                     swal({
                         title: "Failure job!",
                         text: "Ops, message error is '" + error + "'",
                         icon: "error",
                         button: "Ok",
                     });
                }
            });
        }

        function toggleButton(ref, bttnID) {
            document.getElementById(bttnID).disabled = ((ref.value !== ref.defaultValue) ? false : true);
        }

    </script>
}

