@model UserRolesViewModel
@{
    ViewData["Title"] = "Manage Roles";
}

<h1>Manage Roles</h1>
<hr />

<form asp-action="ManageRoles" method="post">
    <div class="card mt-4">
        <div class="card-header">
            <h2>Username: @Model.UserName</h2>
            Add/Remove Roles
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="UserId" />
            @for (int i = 0; i < Model.Roles.Count(); i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.Roles[i].DisplayName" />
                    <input class="form-check-input" asp-for="@Model.Roles[i].IsSelected"/>
                    <label class="form-check-label" asp-for="@Model.Roles[i].IsSelected">
                        @Model.Roles[i].DisplayName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a class="btn btn-secondary" asp-action="Index" asp-area="SuperAdmin" asp-controller="Users">Cancel</a>
        </div>
    </div>
</form>

