@model UsersPermissionsViewModel
@{
    ViewData["Title"] = "User Denies";
}

<h1>User Deny</h1>
<hr />

<form asp-action="ManagePermissions" method="post">
    <div class="card mt-4">
        <div class="card-header">
            <h2>Username: @Model.UserName</h2>
            Add/Remove Deny
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="UserId" />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Module</th>
                        <th>Deny</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.UserClaims.Count(); i++)
                    {
                        <tr>
                            <td>
                                <div class="form-check m-1">
                                    <input type="hidden" asp-for="@Model.UserClaims[i].DisplayName" />
                                    <input class="form-check-input" asp-for="@Model.UserClaims[i].IsSelected" />
                                    @*<label class="form-check-label" asp-for="@Model.RoleClaims[i].IsSelected">
                                            @Model.RoleClaims[i].DisplayName
                                        </label>*@
                                </div>
                            </td>
                            <td>@Model.UserClaims[i].DisplayName.Split('.')[1]</td>
                            <td>@Model.UserClaims[i].DisplayName.Split('.')[2]</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-primary" value="Submit" />
            <a class="btn btn-secondary" asp-action="Index" asp-area="SuperAdmin" asp-controller="Users">Cancel</a>
        </div>
    </div>
</form>

