@model List<LookupTypesViewModel>
@using AdminDashboard.Models.SwaggerModels;

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item active disabled">
                    <a class="nav-link active" id="FeesType-tab" data-toggle="tab" href="#FeesType" accesskey="1" role="tab" aria-controls="FeesType" aria-selected="true">Fees</a>
                </li>
                <li class="nav-item disabled">
                    <a class="nav-link" id="CommissionType-tab" data-toggle="tab" href="#CommissionType" accesskey="2" role="tab" aria-controls="CommissionType" aria-selected="false">Commissions</a>
                </li>
                <li class="nav-item disabled">
                    <a class="nav-link" id="TaxesType-tab" data-toggle="tab" href="#TaxesType" accesskey="3" role="tab" aria-controls="TaxesType" aria-selected="false">Taxes</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                @foreach (var lookupType in Model)
                {
                    <div class="tab-pane fade show @(lookupType.IdentifierType == LookupType.FeesType ? "active" : "")" id="@((LookupType)lookupType.IdentifierType)" role="tabpanel" aria-labelledby="@((LookupType)lookupType.IdentifierType)-tab">
                        <div class="card mt-2">
                            <partial name="_IndexPartial" model="@lookupType" />
                        </div>
                    </div>
                }
            </div>
            <div id="LookupTypeModel" class="modal fade" role="dialog" dir="ltr">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3> Create Type </h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label">Name <span class="validation-error">*</span></label>
                                <input id="types" type="text" class="form-control" onkeyup="toggleButton(this,'SaveLookupType')" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Name <span class="validation-error">*</span></label>
                                <input id="txtName" type="text" class="form-control" onkeyup="toggleButton(this,'SaveLookupType')" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Name Ar <span class="validation-error">*</span></label>
                                <input id="txtNameAr" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" id="SaveLookupType" value="Create" class="btn btn-success float-right" onclick="CreateLookupType()" data-dismiss="modal" disabled />
                            <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>

        var activeTab=0 ;

        $(document).ready(function () {
             activeTab = $('a.active').attr("accesskey");
        });

        $("#myTab > li > a").click(function () {
            activeTab = $(this).attr("accesskey");
            $()
        });


        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        function toggleButton(ref, bttnID) {
            document.getElementById(bttnID).disabled = ((ref.value !== ref.defaultValue) ? false : true);
        }

        function CreateLookupType() {

            var name = $("#txtName").val();
            var nameAr = $("#txtNameAr").val();

             $.ajax({
                type: "POST",
                 url: "@Url.Action("CreateLookupType")",
                 data: {
                     Name: name,
                     NameAr:nameAr,
                     IdentitfierType: activeTab,
                 },
                dataType: "text",
                 success: function (msg) {

                     var dataTest = JSON.parse(msg);

                     var html = `<tr><td>${dataTest.id}</td><td> ${dataTest.name}</td><td> ${dataTest.nameAr}</td>
                        <td><button class="btn btn-primary mr-1">Edit</button>
                        <button onclick="ChangeStatusDenominationServiceProvider(${dataTest.id},this)" class="${dataTest.status ? 'btn btn-danger' : 'btn btn-success'}">${dataTest.status ? 'Deactive' : 'Active'}</button></td></tr>`;

                     $('#tableType-' + activeTab + '').append(html);

                     swal({
                         title: "Good job!",
                         text: "You Saved the Record Successfully!",
                         icon: "success",
                         button: "Ok",
                     });
                },
                 error: function (req, status, error) {
                     swal({
                         title: "Failure job!",
                         text: "Ops, message error is '" + error + "'",
                         icon: "error",
                         button: "Ok",
                     });
                }
            });
        }

        //function GetIdentitfierTypeActiveTab(identitfierType) {
        //    debugger;
        //    var activeAchor=$('a.active').html();
        //    activeTab = identitfierType;
        //    console.log(activeAchor);
        //}

    </script>
}
