@model PagedResult<AdminServiceViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h2>Services</h2>
                        </div>
                        <div>
                            <a asp-action="Create" class="pull-right btn btn-outline-primary">Create</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-controller="Services" asp-action="SearchServices" method="get">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label">Filter by Service Type</label>
                                        <select id="DropDownFilter" asp-for="DropDownFilter" asp-items="ViewBag.ServiceTypes" class="form-control" data-style="select-with-transition" title="Choose an Service Type" data-size="7">
                                            <option>Choose an Service Type</option>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <input id="SearchKey" asp-for="@Model.SearchKey" class="form-control" placeholder="Search by Code or Name" />
                                            <span asp-validation-for="@Model.SearchKey" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <input id="btnSearch" type="submit" value="Search" class="btn btn-secondary float-right" disabled />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Service Type</th>
                                        <th>Entity</th>
                                        <th>Code</th>
                                        <th>Service Catgory</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var service in Model.Results)
                                    {
                                        <tr>
                                            <td>@service.Id</td>
                                            <td>@service.Name</td>
                                            <td>@service.ServiceTypeName</td>
                                            <td>@service.ServiceEntityName</td>
                                            <td>@service.Code</td>
                                            <td>@service.ClassType</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                        More
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <h5 class="dropdown-header">Modules</h5>
                                                        <a asp-action="Index" asp-controller="Denominations" asp-route-id="@service.Id" asp-route-title="@service.Name" asp-route-serviceTypeId="@service.ServiceTypeID" class="dropdown-item">
                                                            Denominations
                                                        </a>
                                                        <div class="dropdown-divider"></div>
                                                        <h5 class="dropdown-header">Actions</h5>
                                                        <a asp-action="Edit" asp-route-id="@service.Id" class="dropdown-item">
                                                            Edit
                                                        </a>
                                                        <a asp-action="ChangeStatus" asp-route-id="@service.Id" class="dropdown-item">
                                                            @(service.Status ? "Deactive" : "Active")
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <pager link-url="/SuperAdmin/Services/Index"
                           page="Model.CurrentPage"
                           page-size="Model.PageSize"
                           total-items="Model.PageCount">
                    </pager>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script>

        $(function () {
           if (@ViewBag.processSucceded.ToString().ToLower()) {
                swal({
                    title: "success!",
                    text: "You Saved the Service Successfully!",
                    icon: "success",
                    button: "Ok",
                });
            }
        });

        $("#SearchKey").keyup(function () {
            //Reference the Button.
            var btnSubmit = $("#btnSearch");

            //Verify the TextBox value.
            if ($(this).val().trim() != "") {
                //Enable the TextBox when TextBox has value.
                btnSubmit.removeAttr("disabled");
            } else {
                //Disable the TextBox when TextBox is empty.
                btnSubmit.attr("disabled", "disabled");
            }
        });

        $("#DropDownFilter").on('change', function () {
            var btnSubmit = $("#btnSearch");

            if ($(this).val() != "Choose an AccountType") {
                //Enable the Button when Select has value.
                btnSubmit.removeAttr("disabled");
            } else {
                //Disable the Button when Select is empty.
                btnSubmit.attr("disabled", "disabled");
            }

        });

        function showSweet() {
            swal({
                title: "Good job!",
                text: "You clicked the button!",
                icon: "success",
            });
        }
    </script>

}